#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-container{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.product-card{
  width: 800px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-header{
  color: brown;
}

.card-cover{
  min-width: 300px;
  aspect-ratio: 1/1;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cover>img{
  width: 100%;
  height: 100%;
}

.card-detail{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.body-top{
  font-size: 14px;
  color: bisque;
}

.body-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.bottom-left{
  color: chocolate;
  font-weight: bold;
}

.category{
  color: brown;
}

.rate{
  color: chocolate;
}